:root{
    --background-color:#167ad8;
}
body{
    background-color: #ffffff;
    margin: 0;
    
}

/* This is for the header part of the website */
h1{
    font-size: 50px;
    color: aliceblue;
    margin-right:auto
}
header img{
    width: 100px;
    height:100px;
    
}
header {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    color: #0e0d0d;
  }
header nav li{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}
/* for the main part or the body of the website */
main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main h2{
        background-color: rgb(223, 223, 223);
        border-radius: 5px;     
}

    /* For the "about me" section */
section p{
    background-color: #e4e4e4;
   
}

/*This is for the work section using hover and display elements*/
figure img{
    width: 250px;
    margin: 0 .5%;
    font-size: 200%;
    color: #13293d;
    background-color: #fff;
    border: 3px solid #13293d;
    display: flex;
}
figure{
    margin-inline-start: 0;
    margin-inline-end: 0;
}
figure img:hover {
    color: #fff;
    transform:scale(1.1)
  }
figure p{
    text-align: center;
    display: flex;
   
}
div{
    background-color:#e4e4e4 ;
    display:flex;
 
}
.Work2{
    border: 2px solid #0e0d0d;
    display:flex;
}
.horiseon {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: right;
    width: 25%;
    box-sizing: border-box;
    display: block;
    text-align: center;
  }
/* This is for the contact section using pseudo elements and display */
section  li{
    display: block;
    text-align: center;
   
}
ul{
    padding-inline: 0;
}
.phone::before{
    content:"\260E";
    padding-right: 5px;

}
.email::before{
    content:"\2709";
    padding-right: 5px;

}

   
/* Css for my footer using pseudo elements */
footer {
    display: flex;
    align-items: center;
    background-color: #167ad8;
    color: #0e0d0d;
    padding:10px;
    justify-content: center;
  }
.footer::before{
    content:"\00A9";
    padding-right: 5px;  
}
/* media queries section */
@media screen and (max-width: 600px) {
    header{
        background-color: aqua;
    }
    body{
        background-color: antiquewhite;
    }
    footer{
        background-color: aqua;
    }
}